:root{
    --button: #3deda1;
    --primary-color: #c8c8c8;
    --secundary-color: #202D40;
    --background: #D9D9D9;
    --font-style: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    --font-color: #000;
    --a-fontColor: #bebebe;
    --a-effect: rgb(68, 218, 218);
    --box-shadow: 0rem 0rem 0.625rem 0rem #0d7dbe; /* 10px */
    --span: #50ebb2;
    --specs-color: #fafafa;
}

html{
    scroll-behavior: smooth;
}



/* Especialidades */

.especialidades{
    padding: 2.5rem 4%; /* 40px */
}

section .text span{
    color: var(--span);
}

.especialidades .especs-box{
    color: var(--primary-color);
    padding: 2.5rem; /* 40px */
    margin-top: 1.875rem; /* 30px */
    border-radius: 1.25rem; /* 20px */
    transition: .2s;
}

.especialidades .especs-box:hover{
    transform: scale(1.05);
    transition: 2s;
    box-shadow: var(--box-shadow);
}

.especialidades .especs-box i{
    font-size: 3.125rem; /* 50px */
    color: var(--span);
}

.especialidades .especs-box h3{
    font-size: 1.75rem; /* 28px */
    margin: 0.9375rem 0; /* 15px */
}

.especialidades .especs-box p{
    text-align: justify;
    font-size: 1rem; /* 16px */
}

.especialidades .especs-box  a{
    text-decoration: none;
    color: var(--span);
    transition: 2s;
}

.especialidades .especs-box span{
    display: block;
}

.especialidades .especs-box a:hover{
    color: var(--span);
    box-shadow: 0rem 0rem 0.375rem 0rem var(--a-effect); /* 6px */
}

.especialidades .flex{
    gap: 3.75rem; /* 60px */
}

/* Container Projetos */

.container-slides{
    height: auto;
    width: 100%;
}

.especialidades .container-projects{
    display: flex;
    justify-content: center;
    color: var(--primary-color);
}


/* Arrumar aqui e criar os slides */
.container-slides .container-projects .card-list{
    display: flex;
    align-items: center;
    gap: 2.5rem; /* 40px */
    padding: 1rem 0;
}

.card-list .card-item{
    list-style: none;
}

.card-list .card-item .card-link{
    width: 25rem;   /* 400px */
    height: 37.5rem; /* 600px */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: var(--background);
    padding: 1.125rem; /* 18px */
    border-radius: 0.75rem; /* 12px */
    text-decoration: none;
    border: 0.125rem solid transparent; /* 2px */
    box-shadow: 0 0.125rem 0.625rem var(--span); /* 0 2px 10px */
}

.card-list .card-item .card-link:hover{
    transform: scale(1.05);
    transition: 2s;
    box-shadow: var(--font-color);
}

.card-list .card-link .card-image{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 0.625rem; /* 10px */
}

.card-list .card-link .badge{
    color: var(--font-color);
    background: var(--button);
    padding: 0.5rem 1rem; /* 8px 16px */
    font-size: 0.95rem;
    font-weight: 500;
    margin: 1rem 0 1.125rem; /* 16px 0 18px */
    width: fit-content;
    border-radius: 3.125rem; /* 50px */
    height: 2.5rem; /* 40px */
}

.card-list .card-link .card-title{
    font-size: 1.1875rem; /* 19px */
    color: var(--font-color);
    font-weight: 600;
}

.card-list .card-link .card-button{
    height: 2.1875rem; /* 35px */
    width: 2.1875rem; /* 35px */
    color: var(--button);
    cursor: pointer;
    border-radius: 50%;
    margin: 1.875rem 0 0.3125rem; /* 30px 0 5px */
    border: 0.125rem solid var(--button); /* 2px */
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button{
    color: var(--button);
    background: #fff;
}


/* Sobre mim */

section.sobre{
    padding: 2.5rem 4%; /* 40px */
}


.img-sobre img{
    border-radius: 10%;
    box-shadow:var(--box-shadow);
}

.sobre .txt-sobre{
    color: var(--primary-color);
}

.sobre .txt-sobre h2{
    font-size: 2.5rem; /* 40px */
}

.sobre .txt-sobre h2 span{
    color: var(--span);
    display: block;
    line-height: 3.125rem; /* 50px */
    margin-bottom: 1.5625rem; /* 25px */
}

.sobre .txt-sobre h2 .emoji{
    display: inline;
    color: var(--span);
}

.sobre .txt-sobre p{
    margin: 0.625rem 0; /* 10px */
    line-height: 1.25rem; /* 20px */
    text-align: justify;
    margin-bottom: 2.5rem; /* 40px */
}

.sobre .txt-sobre .btn-social a button{
    width: 3.75rem; /* 60px */
    height: 3.75rem; /* 60px */
    border-radius: 50%;
    border: 0;
    background-color: var(--button);
    font-size: 1.875rem; /* 30px */
    cursor: pointer;
    margin: 0 0.5rem; /* 8px */
}

.sobre .txt-sobre .btn-social a button:hover{
    box-shadow: 0rem 0rem 0.5rem var(--button); /* 8px */
    transform: scale(1.05);
}

.sobre{
    box-shadow: 0 0 0.375rem 0 black; /* 6px */
}

.container-projects .card-list span {
    font-size: 2.5rem; /* 40px */
}
